
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}


.btn2.active {
  background-color: #666;
  color: white;
}

.container
{
	position: relative;
	column-count: 4;
	padding: 60px;
}

.container img
{
	width: 100%;
	transition: 0.25 ease-in-out;
}

.image
{
	display: inline-block;
	margin-bottom: 2px;
	overflow: hidden;
	
}

.image:hover img{
	transform: scale(1.1);
}






